
.fade-enter {
    opacity: 1;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  
  .fade-enter-active {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }
  
  .fade-exit {
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  
  .fade-exit-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }